<head>
  <link rel="stylesheet" href="/style.css">
</head>
<header>
  <nav>
    <ul class = "navbar">
      <li class = "navElement"><a href="/">Home</a></li>      
      <li class = "navElement"><a href="/comments">Comments</a></li>
      <li class = "navElement"><a href="/api/auth/register">Register</a></li>
      
      <!-- 
          If user is logged in display their name in the navbar next to the logout button
          else display login button
      -->
      {{#if isLoggedIn}}
          <li class = "navElement">Hello, {{username}}!</li>
          <li class = "navElement">          
            <form action="/logout" method="POST">
              <button type="submit">Log Out</button>
            </form>
          </li>
      {{else}}
        <li class = "navElement"><a href="/api/auth/login">Login</a></li>
      {{/if}}
    </ul>
  </nav>
</header>

