<header>
  <nav>
    <ul>
      <li><a href="/api/home">Home</a></li>
      <li><a href="/api/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
</header>
