<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {{> header}}
    
    <title>{{title}}</title>

    <main>
        <h1>{{title}}</h1>
        <p>{{message}}</p>
        <form action="/logout" method="POST">
            <button type="submit">Log Out</button>
        </form>
        
    </main>

    {{> footer}}
</body>
</html>

